html {
  font-family: 'Quicksand', sans-serif;
}

.skip-links {
  display: none;
}

.banner {
  overflow: hidden;
  position: relative;
  background-position: center center;
  max-height: 24em;
}

.banner-text {
  position: absolute;
  width: 50%;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  background-color: rgba(188,112,60, .7);
}

.main-btn {
  display: inline-block;
  border: none;
}

.btn {
  background-color: #644c54;
  color: white;
  border: none;
}

hr {
  border-color: #7c6654;
  border-top: 1px dotted;
}

nav {
  position: relative;
}

ul {
  position: absolute;
  top: 35%;
  right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  border-bottom: none;
}

nav ul li a:hover {
  color: #333333;
}

header {
  background-image: linear-gradient(#bc703c, #f2d5b9);
}

footer {
  background-color: #f2d5b9;
}
